* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
header, main {
  padding: 16px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

header p {
  font-size: 1.5rem;
}

h1 {
  margin-bottom: 64px;
}

.intro-chunk {
  max-width: 75%;
  margin-bottom: 64px;
}

main {
  border-top: 8px solid hsl(0deg, 0%, 40%);
  background: hsl(0deg, 0%, 70%);
}

section p {
  font-size: 1.25rem;
}

.max-width-wrapper {
  max-width: 24%;
  margin: 0 auto;
}

.card {
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  background: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.indented-heading {
  width: max-content;
  padding: 16px 32px;
  margin-left: -48px;
  margin-top: 0;
  margin-bottom: 0;
  background: hsl(45deg, 100%, 50%);
  border-bottom: 5px solid hsl(45deg, 100%, 40%);
}